<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-sm-12 first"><h1>WELCOME TO <br><p>Luminar Bank</p><span>we hold your money</span></h1></div>
            <div class="col-lg-6 col-sm-12 main">
                <h2>Create Account</h2><hr>
                <form [formGroup]="registerForm" action=""(ngSubmit)="register()">
                <input type="text" class="items" name="uname" id="username" formControlName= "uname" placeholder="User Name"><br>
                <input type="text" class="items" name="acno" id="accountnumber" formControlName= "accno" placeholder="Account Number"><br>
                <input type="text" class="items" name="actype" id="acctype" formControlName= "acctype" placeholder="Account type"><br>
                <input type="text" class="items" name="pwd" id="password" formControlName= "pswd"  placeholder="Password"> <br>
                
                <button class="item" >Register</button>
           </form>
            </div>
        </div>
    </div>
    
</body>